<nz-table nzTitle="Available Classes" #basicTable [nzData]="classes">
  <thead>
    <tr>
      <th>ClassId</th>
      <th>Name</th>
      <th>Credit Hours</th>
      <th>Department</th>
      <th>Instuctor</th>
      <th>Register</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.courseID }}</td>
      <td>
        <a [routerLink]="" (click)="toggleDialog(data.courseID)">{{
          data.courseName
        }}</a>
      </td>
      <td>{{ data.creditHours }}</td>
      <td>{{ data.departmentName }}</td>
      <td>{{ data.firstname }}, {{ data.lastname }}</td>
      <td> 
        <button nz-button nzType="primary" *ngIf="data.registered" nzDanger>Register</button>
        <button nz-button nzType="primary" *ngIf="!data.registered" nzDanger (click)="register(data.courseID)">Register</button>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-modal
  [(nzVisible)]="showClassDialog"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="closeDialog()"
>
  <ng-template #modalTitle>Custom Modal Title</ng-template>

  <ng-template #modalContent>
    <p>{{ currentClass.courseName }}</p>
  </ng-template>

  <ng-template #modalFooter>
    <span>Modal Footer:</span>
    <button
      nz-button
      nzType="primary"
      (click)="handleOk()"
      [nzLoading]="isConfirmLoading"
    >
      Custom Submit
    </button>
  </ng-template>
</nz-modal>
